@{
    ViewBag.Title = "Home Page";
}

<h1> Hello angular</h1>
<div ng-init=" num1=1; num2=1; myname='Jone Doe';">
    <p> Basic angular calc 1 + 2 = {{1+2 }}</p>
    <input type="number" name="num1" ng-model="num1" value="0" />
    <input type="number" name="num2" ng-model="num2" value="0" />
    <hr />
    <p> {{num1}} + {{num2}} = {{num1 + num2}}</p>
    <p> {{num1}} - {{num2}} = {{num1 - num2}}</p>
    <p> {{num1}} * {{num2}} = {{num1 * num2}}</p>
    <p> {{num1}} / {{num2}} = {{num1 / num2}}</p>
    <p>{{num1}} modulus {{num2}} = {{num1% num2}}</p>
    <hr />
    <input type="text" name="num1" ng-model="myname" />
    {{myname}}
    <input type="text" name="num2" ng-model="myname" />
    <hr />

    <div ng-controller="myCtrl">

        First Name: <input type="text" ng-model="firstName"><br>
        Last Name: <input type="text" ng-model="lastName"><br>
        <br>
        Full Name: {{firstName + " " + lastName}}

    </div>
    <hr />

    <div ng-controller="myCars">
        <h3>My Cars</h3>
        <input type="text" ng-model="newCar" placeholder="Enter  new car to add to the list" />
        <button ng-click="addCar()" ng-disabled="newCar.length <1">Add</button>
        <ol>
            <li ng-repeat="foo in cars">{{foo}}</li>
        </ol>
    </div>

    <script>
        var app = angular.module('angularDemo', []);

        app.controller('myCtrl', function ($scope) {
            $scope.firstName = "John";
            $scope.lastName = "Doe";
        });

        app.controller('myCars', function ($scope) {
            $scope.cars = ["SAAB 900", "VOLVO 740"];
            $scope.newCar;

            $scope.addCar = function () {
                var item = angular.copy($scope.newCar);
                $scope.cars.push(item);
                $scope.newCar = "";
            }


        });
    </script>
</div>
